:root {
    --primary-color: #015c93;
    --secondary-color: #077afd;
    --primary-light: #888f96;
    --primary-hover: #d6efff;
    --white-color: #ffffff;
    --black-color: #000000;
    --light-gray: #F3F4F6;
    --dark-gray: #616162;
    --secondary-font: "Lexend", sans-serif;
}

.Careers {
    .jobCard {
        h3 {
            color: var(--primary-color);
            font-size: 1.9rem;
            font-weight: 400;
        }

        p,
        span,
        li {
            color: var(--dark-gray);
        }

        .jobDesc {
            font-size: 16px;
        }

        .jobTitleContainer {
            border-right: 1px solid silver;
        }
    }
}

/* responsive styles */
@media screen and (max-width: 992px) {
    .jobCard {
        h3 {
            color: var(--primary-color);
            font-size: 1.6rem !important;
            font-weight: 400;
        }
    }
}

@media screen and (max-width: 768px) {
    .jobCard {
        h3 {
            color: var(--primary-color);
            font-size: 1.3rem !important;
            font-weight: 400;
        }

        .jobDesc {
            font-size: 14px !important;
        }

        .jobTitleContainer {
            border-right: none !important;
            border-bottom: 1px solid silver;
        }
    }
}